body{
    padding: 50px 100px;
}
h1{
    text-align: center;
}
#container{
    background-color: aqua;
    text-align: center;
    padding: 50px;
    
}
#input-div{
    display: inline-block;
}

/* to make in a row */

.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}
label{
    font-size: 25px;
}